body {
    background-color: #ffffff; /* 背景顏色 */
    text-align: center; /* 將文字置中 */
}
canvas {
    border: 5px solid #91a1c5;  
    position: relative;/*相對位置*/
    top: 10px;
    left: 60px;   
}
#answer-text { 
    font-size: 50px;
    font-weight: bold;
    margin-top: 30px; /* 與頂部的距離 */
    color:#91a1c5;
}
/*確認送出答案按鈕*/
#confirm-btn {
    position: relative;/*相對位置*/
    top: 100px;
    left: -245px;
    background-color: #ffffff; /* 按鈕背景顏色 */
    border: 5px solid #b2c2e3; /* 按鈕邊框顏色 */
    color: #b2c2e3; /* 按鈕文字顏色 */
    font-size: 150%;
    width: 120px;
    height:90px;
}
#confirm-btn:hover {
    background-color: #e2f1fd; /* 當滑鼠停在按鈕上時的背景顏色（灰色） */
}
#confirm-btn:active {
    background-color: #d2e7ff; /* 當滑鼠點按鈕時的背景顏色（灰色） */
}