<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>L515 Camera Stream</title>
</head>
<body>
    <h1>L515 Camera Live Feed</h1>

    <!-- 用於顯示影像流 -->
    <img src="{{ url_for('video_feed') }}" alt="Camera Stream" width="320" height="240">

    <h2>Eye Center Distance:</h2>
    <p id="distance">Calculating...</p>

    <h2>Time Remaining:</h2>
    <p id="timer">5</p>

    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <script>
        
        // 初始化 WebSocket 連接
        var socket = io.connect('http://192.168.1.179:5000');

        // Fetch data from the API endpoint every second
        var distance = 0;
        var time = 5;
        setInterval(() => {
            socket.on('data_feed', function(data) {
                document.getElementById('timer').innerText = data.time;
                document.getElementById('distance').innerText = `${data.depth} meters`;
                distance = data.depth;
                time = data.time;
            });
            if (distance > 0 && time<=0 ) {  //確保獲得有效距離
                console.log('data.depth:', distance);
                var urlSuffix = window.location.href.split('=').pop();
                socket.emit('eye_into_test', {'urlSuffix': urlSuffix,'depth_value':distance});
                window.location.href = window.location.origin + '/eye_user_check?session=' + location.href.split('=').pop();
            }
        }, 1000);  // 每秒更新一次

        window.onload = function() {
            var urlSuffix = window.location.href.split('=').pop();
            socket.emit('confirm_eye_dis', {'urlSuffix': urlSuffix});
        };
    </script>
</body>
</html>
