<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>調整視力測驗圖片大小</title>
    <style>
        body {
            text-align: center;
            font-family: Arial, sans-serif;
        }
        #referenceObject {
            border: 2px solid #000;
            width: 100px;
            height: 54mm;
            resize: both;
            overflow: auto;
            margin: 20px auto;
        }
        .instruction {
            margin-top: 20px;
            font-size: 16px;
        }
    </style>
</head>
<body>
    <h1>調整視力測驗圖片大小</h1>
    <p class="instruction">
        將信用卡（或已知尺寸的物品）放在螢幕上，並調整黑框使其尺寸與物品相符。
    </p>


    <div id="referenceObject"></div>
    <p class="instruction">調整後的寬度：<span id="widthDisplay">100</span> 像素</p>
    <p class="instruction">調整後的高度：<span id="heightDisplay">54</span> 像素</p>
    <button onclick="confirmAndRedirect()">確認</button>

    <!-- <h1>請輸入螢幕尺寸(英寸)</h1>
    <label for="ppiInput">螢幕尺寸：</label>
    <input type="number" id="screen" required><br><br> -->

    <script src="https://cdn.jsdelivr.net/npm/qrcodejs@1.0.0/qrcode.min.js"></script>
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <script>
        
         // 初始化 WebSocket 連接
         var socket = io.connect('http://192.168.1.179:5000');
    
        // WebSocket 連接成功時的處理
        socket.on('connect', function() {
            console.log('WebSocket 連接已打開');
        });

        const referenceObject = document.getElementById('referenceObject');
        const widthDisplay = document.getElementById('widthDisplay');
        const heightDisplay = document.getElementById('heightDisplay');

        // 更新寬度和高度顯示
        referenceObject.addEventListener('mousemove', updateSize);
        function updateSize() {
            widthDisplay.textContent = referenceObject.offsetWidth;
            heightDisplay.textContent = referenceObject.offsetHeight;
        }

        // 按下確認鍵跳轉到顯示 E 字圖片的頁面，並傳遞寬度作為參數
        function confirmAndRedirect() {
            // const screen_size = parseFloat(document.getElementById('screen').value);
            // console.log(screen_size);
            const widthPx = referenceObject.offsetWidth;
            const heightPx = referenceObject.offsetHeight;
            // socket.emit('send_width_height', { 'width': widthPx, 'height': heightPx,'screen_size':screen_size });
            socket.emit('send_width_height', { 'width': widthPx, 'height': heightPx });
           
            var newUrl = window.location.origin +'/eye_Etest?session='+ location.href.split('=').pop(); 
            window.location.href = newUrl;
        }
    </script>
</body>
</html>
