<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Ishihara Plate Generator</title>
        <meta charset="utf-8">
        <link href="static/css/font-awesome.min-ishihara.css" rel="stylesheet" type="text/css">
        <link href="static/css/main-ishihara.css" rel="stylesheet" type="text/css">
        <script src="static/assets/js/dat.gui.min.js"></script>
        <script src="static/assets/js/utils-ishihara.js"></script>
        <script src="static/assets/js/shape_factories.js"></script>
        <script src="static/assets/js/ishihara.js"></script>
    </head>
    <body>
        <span id="top-left">
            <small>在圈圈內畫出你在點圖中想呈現的圖型！ <small>(按住 ctrl 鍵可擦除筆跡)</small><br>
        </small></span>
        <center>
            <canvas id="canvas">Your browser doesn't supports canvas.</canvas>
        </center>
        <input type="file" id="image_upload" accept="image/*" style="visibility:hidden">
    </body>
</html>
