<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>歡迎來到此網頁</title>
  <link rel="stylesheet" href="static/mainFrameStyle.css">
</head>
<body>
  <div id="welcome-text">歡迎來到此網頁</div>
  <img id="main-image" src="static/main_img.jpg" alt="Main Image">
  <div id="question-text">想做甚麼測驗呢</div>
  <div style="width: 100%;margin-left: 0.2%;">
    <a href="http://127.0.0.1:5000/choose">
      <button id="color-blind-btn" class="quiz-button">色盲測驗</button>
    </a>
    <button id="vision-test-btn" class="quiz-button">視力測驗</button>
  </div>
  <script>
    document.getElementById('color-blind-btn').addEventListener('click', function() {
      window.location.href = 'colorBlind/colorBlindMainFrame.html';
    });
  </script>
</body>
</html>
