<!-- 圖片顯示頁面 目前確認鈕還在這個頁面--> 
<!DOCTYPE html>
<html lang="en">
        <head lang="en">
        <meta charset="UTF-8">
        <title>切換照片</title>
    </head>
    <style>
    *{ 
        margin:0;
        padding:0;
    }
    #picBox{ 
        margin:100px auto;
        width:600px;
        height:400px;
    }
    #pic{ 
        width:600px;
        height:400px;
    }
    #buttonBox{ 
        width:200px;
        margin:10px auto;
    }
    </style>

    <body>
    <div id="picBox">
       
        <img src="https://images.zeiss.com/vision-care/images/bv/zeiss-colour-blindness-test-3.ts-1511955458810.png?auto=compress%2Cformat&fm=png&ixlib=java-1.1.11&w=832&s=6970d59fcf5784b44ccf519e14275dc8" id="pic" alt="挖哩勒">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
        <script>
            var index=0;
            const socket = io();
            socket.on('button_press', (msg) => {
                console.log('Button Pressed on the server:', msg);
                // 在這裡處理按鈕被按下的事件，例如切換圖片
                // 例如：更新圖片 src，可以根據 msg 的內容進行相應處理
                var picArr=new Array("https://images.zeiss.com/vision-care/images/bv/zeiss-colour-blindness-test-3.ts-1511955458810.png?auto=compress%2Cformat&fm=png&ixlib=java-1.1.11&w=832&s=6970d59fcf5784b44ccf519e14275dc8","https://image.16pic.com/00/35/88/16pic_3588088_s.jpg","https://www.cnbruce.com/blog/uploadfile/JPG/2006-11/18-15601-color_blindness_01.jpg","https://www.cnbruce.com/blog/uploadfile/JPG/2006-11/18-94531-color_blindness_03.jpg");
                
                confirm();
                function confirm(){ 
                    index++;
                    if(index==picArr.length){ 
                        index=0;
                    }
                    document.getElementById("pic").src=picArr[index];
                }
            });
        </script>
    </div>
    
    </body>
</html>